{% extends 'base.html' %}
{% block content %}
    {% if user.is_authenticated %}
        {% for post in post_list %}
            <!-- Blog Post -->
            <div class="card mb-4">
                <img class="card-img-top" src="http://placehold.it/750x300"
                     alt="Card image cap">
                <div class="card-body">
                    <h2 class="card-title">{{ post.tittle }}</h2>
                    <p class="card-text"> {{ post.description | truncatewords:50 }}</p>
                    <a href="{% url 'post_detail' post.slug %}"
                       class="btn btn-primary">Read More &rarr;</a>
                </div>
                <div class="card-footer text-muted">
                    {{ post.author }} | {{ post.created_on }}
                    <a href="#">Back to the future</a>

                </div>
            </div>
        {% endfor %}
        {% if is_paginated %}
            <div>Page {{ page_obj.number }}
                of {{ page_obj.paginator.num_pages }}</div>
            <ul class="pagination justify-content-center mb-4">
                {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link"
                           href="/?page={{ page_obj.previous_page_number }}"><-
                            Last</a>
                    </li>
                {% endif %}
                {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link"
                           href="/?page={{ page_obj.next_page_number }}">Next
                            -></a>
                    </li>
                {% endif %}
            </ul>
        {% endif %}
    {% endif %}
{% endblock content %}