{% extends 'base.html' %}
{% block content %}

    <div class="container">

        <div class="row">

            <div class="col-md-8 card mb-4 mt-3 left top">

                <div class="card-body">

                    <h1>{% block title %} {{ object.tittle }} {% endblock title %}</h1>
                        <hr>
                    <p class="card-text">{{ object.description | safe }}</p>

                    <p class="text-muted">{{ post.author }}|{{ post.created_on }}</p>

                    <hr>
                {% for comment in post.comments.all %}
                    {% if comment.approved_comment %}
                        <div class="comment">
                            <div class="date">
                                {{ comment.created_date }}
                            </div>
                            <strong>{{ comment.author }}</strong>
                            <p>{{ comment.text|linebreaks }}</p>
                        </div>
                    {% endif %}
                {% empty %}
                    <p>Пока нет комментариев</p>
                {% endfor %}

                    <a href="{% url 'add_comment_to_post' slug=post.slug %}">Add your comment</a>

                </div>

            </div>
        </div>

    </div>

{% endblock content %}